/* <--------------------  Header -----------------------> */
.head-text{
  font-size: 2em;
  padding-top: 30px;
}

.head-bottom-text{
  font-size: 1.25em;
  padding-top: 10px;
}

/* <--------------------  Instances -----------------------> */

.instance-padding{
  padding-top: 20px;
}

.instance-box{
  border: 1px solid rgb(20,20,20);
  border-radius: 7px;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: inline-grid;
  background-color: white;
}

.instance-header{
  font-size: 1.5em;
}

p{
	margin:10;
	padding:0;
}

.heading-text{
  padding-top: 5px;
  font-size: 1.5em;
  text-align: center;
}

.profile-name{
  padding-top: 5px;
  font-size: 1.0em;
  text-align: center;
}

.profile-text{
  font-size: 1.25em;
  text-align: center;
}

.bio-text{
  font-size: 1.0em;
  text-align: center;
}

.body-text{
  font-size: 1.0em;
}

.information-text{
  font-size: 1.5em;
  text-align: center;
  padding: 0 50px;
}


.body-container{
	background-color: rgb(255,255,255);
	height: auto;
	margin: 10 auto;
	border-radius: 10px;
	width: 70%;

position: absolute;
padding: 15 100px;
}

.profile-container{
	background-color: rgb(255,255,255);
	height: auto;
	margin: auto;
	border-radius: 10px;
	width: 90%;

position: absolute;
padding: 10 0px;
}

.profile-left{
	float:left;
  background-color: rgb(255,255,255);
  height: auto;
  margin: 10px;
  border-radius: 7px;
  width: 45%;

  position: absolute;
  padding: 15px;
}

.profile-right{
	float:right;
  background-color: rgb(255,255,255);
  height: auto;
  margin: 10px;
  border-radius: 7px;
  width: 45%;

  position: absolute;
  padding: 15px;
}

.profile-center{
  background-color: rgb(255,255,255);
  height: auto;
  margin: auto;
  border-radius: 7px;
  width: 45%;

  position: absolute;
  padding: 15px;
}

.prof-pic {
  margin:0 auto;
  width: 50%;
  border-radius: 50%;
  position: relative;
}

.icon-pic {
  margin: 0 auto;
  width: 175px;
  max-height: auto;
}

.information-container{
  background-color: rgb(255,255,255);
	height: auto;
	margin: auto;
	border-radius: 10px;
	width: 80%;
position: absolute;
padding: 10 5px;
}
