.main-container{
  padding-top: 30px;

}
.name{
  margin: 0px 30px;
  font-size: 2em;
}
body{
  background-color: rgb(227, 230, 241);

}
.stat {
  background-color: white;
  margin: 20px 30px;
  height: 400px;
  border-radius: 10px;
  border: 1px solid black;
}
#myChart {
  height: 80%;
  width: 80%;
  padding: 0px 0px;
  margin: 30px auto;
}
#AQI {
  font-size: 10em;
  margin: auto auto;
  text-align: center;
}
.data {
  font-size: 10em;
  margin: auto auto;
  text-align: center;
}
