/* <--------------------  Header -----------------------> */
.head-text{
  font-size: 1.5em;
  padding-top: 30px;
}

body{
  background-color: rgb(227, 230, 241);

}
.stat {
  background-color: white;
  margin-top: 15px;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;

}
#myChart {
  height: 80%;
  width: 80%;
  padding: 0px 0px;
  margin: 30px auto;
}

.data {
  font-size: 1em;
  margin: auto auto;
  text-align: center;
}
