.HomeApp {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/landing.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.HomeApp {margin:0;padding:0;}

#splash-jumbotron{
  /* height: 90.5vh!important; */
  background-color: transparent;
  color: rgb(240,240,240);
  margin-bottom: 0px;
}

.HomeApp .navbar{
  background: transparent !important;
}

/* <------------------ Main text ---------------------------> */
.HomeApp .bigsearch{
  margin: 0 auto;
  float: none;
  width:60vw;
  max-width: 750px;
  padding: 5px 10px;
  border: 1px solid white;
  background: transparent;
  height: 40px;
  color: white;
  border-radius: 10px;
  padding-left: 40px;
}

.searchpage-bar{
  margin: 0 auto;
  float: none;
  width:60vw;
  max-width: 750px;
  padding: 5px 10px;
  border: 5px solid white;
  margin-top: 20px;
}

.HomeApp .bigsearch:active, .HomeApp .bigsearch:focus{
  color: white;
  outline: 0;
}

.HomeApp .bigsearch::placeholder{
  color: #dddddddd;
}

.bottom-border{
  padding-top: 5%;
  border-bottom: 1px solid rgb(240,240,240);
}

.bottom-text{
  font-size: 1.5em;
}

.top-text{
  font-size: 3em;
}

/* <------------------      Preview     ---------------------------> */
.learn-more-button{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px auto;
  width: 60%;
  border-color: rgb(139, 118, 32);
  color:  rgb(139, 118, 32);


}

.learn-more-button:hover,
.learn-more-button:active,
.learn-more-button:visited,
.learn-more-button:focus {
    background-color: rgb(139, 118, 32);
}


.preview-box{
  background-color: rgb(240,240,240);
  margin: auto;
  border-radius: 7px;
  width: 85%;
  position: relative;
  padding: 15px;
}

.preview-header{
  font-size: 1.5em;
}

.preview-padding{
  padding-top: 100px;
  color: rgb(20,20,20);
}

.preview-text{
  font-size: 1em;
  margin-bottom: 70px;
}

.search-icon{
  height: 15px;
  transform: translate(30px, 7px);
  filter: invert(1);
  cursor: pointer;
}

@media (max-width: 767px){
  .preview-text{
    margin-bottom: 70px !important;
  }
}
