/* <--------------------  Header -----------------------> */
.head-text{
  font-size: 2em;
  padding-top: 30px;
}

.head-bottom-text{
  font-size: 1.5em;
  padding-top: 10px;
}

/* <--------------------  Instances -----------------------> */

.instance-padding{
  padding-top: 20px;
}

.instance-box{
  border: 1px solid rgb(20,20,20);
  border-radius: 7px;
  width: 100%;
  padding: 5%;
  background-color: white;
}

.instance-box > table{
  margin-bottom: 10px;
  width: 100%;
}

.instance-header{
  font-size: 1.25em;
}

.sort-row{
  padding-top: 50px;
}

.white{
  background-color: white;
}

.light-grey{
  background: #eeeeeeee;
}
