/* <--------------------  Header -----------------------> */
.head-text{
  font-size: 1.5em;
  padding-top: 30px;
}

.head-bottom-text{
  font-size: 1.25em;
  padding-top: 10px;
}

/* <--------------------  Instances -----------------------> */
.mapouter{
  position:relative;
  text-align:right;
  height:450px;
  width:900px;
  margin: auto;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:450px;
  width:900px;
}

.instance-padding{
  padding-top: 20px;
}

.instance-box{
  border: 1px solid rgb(20,20,20);
  border-radius: 7px;
  width: 100%;
  padding: 1%;
  background-color: white;
}

.instance-box > table{
  margin-bottom: 10px;
  width: 100%;
}
